.square-black{
  width: 50px;
  height: 50px;
  background-color: #02b4c2;
  display:inline-block;
  float: left;
  margin: 0;
  padding: 0;
  border: 1px solid #c91616;
}
.square-white{
  background-color: transparent;
  pointer-events: none;
}

span{
  margin: 0;
  padding: 20px;
  display:block;
}
