<div>
  <app-squares [squares]="squares" (tries)="toTry()"></app-squares>
  <p>
    <span>Tries: <strong>{{ tries }}</strong></span>
  </p>
  <p>
    <button (click)="onReset()">Reset</button>
  </p>
</div>
